<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andcontactstester"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AndcontactstesterActivity"
            android:label="@string/title_activity_andcontactstester" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".AndContacts"
            android:label="AndContacts" >
            <intent-filter>
                <action android:name="com.dn.andContact" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ContactPicker"
                     android:label="Contact Picker">
             <intent-filter>
                 <action android:name="com.dn.pick"></action>
                 <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
    </application>
<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
<uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>
</manifest>